In [9]:
import pandas as pd

nme = ['Google','Runoob','Taobao', 'Wiki']
st = ["www.google.con","www.runoob.com","www.taobao.com","www.wikipedia.org"]
ag = [90,40,80,98]

dict = {'name':nme,'site':st,'age':ag}
df = pd.DataFrame(dict)
(df)
df.to_csv('site.csv')

In [12]:
data = pd.read_csv('site.csv')
print(data.head(2))

print(data.info())

print(data.tail(1))

   Unnamed: 0    name            site  age
0           0  Google  www.google.con   90
1           1  Runoob  www.runoob.com   40
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   name        4 non-null      object
 2   site        4 non-null      object
 3   age         4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None
   Unnamed: 0  name               site  age
3           3  Wiki  www.wikipedia.org   98

In [14]:
# 示例数据
data2 = {'Name': ['Alice', 'Bob', 'Charlie', None],
        'Age': [25, 30, None, 35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df2 = pd.DataFrame(data2)

# 填充缺失的 "Age" 为均值
df2['Age'].fillna(df2['Age'].mean(), inplace=True)

print(df2)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  30.0      Chicago
3     None  35.0      Houston

C:\Users\CelineZ\AppData\Local\Temp\ipykernel_3380\4279612153.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Age'].fillna(df2['Age'].mean(), inplace=True)